:root {
  --color-one: #33a;
  --color-two: #44a;
  --color-three: #000;
  --color-four: #f50;
  --light-one: #fff;
  --light-two: #aaa;
  --light-three: #ccc;
  --dark-one: #000;
  --dark-two: #444;
  --highlight-one: #f50;
}

html, body {
  height: 100%;
}
body {
  overflow-y:scroll;
  margin:0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  width:80%;
  max-width:1000px;
  margin: auto;
  padding: 17px 0 3px 0;
}
header h1 {
  margin:0;
}
header nav {
  flex:1;
}
main {
  box-sizing: border-box;
}
footer {
  width:100%;
  margin:auto;
  text-align: center;
  background: var(--light-two);
  padding: 40px 0;
}

h1 {
  color: var(--color-four);
  font-style: italic;
  font-size: 24px;
}
a {
  color: var(--light-two);
}

header #menu {
  text-align:right;
}
header #menu span {
  cursor:pointer;
  text-decoration: none;
  color: var(--dark-one);
  border-bottom: 3px solid var(--color-four);
  margin:5px;
  padding:10px;
  transition: .25s;
}
header #menu span:hover {
  color: var(--light-two);
  border-color: var(--light-two);
  transition: .25s;
}
header nav .icon {
  display:none;
  position:absolute;
  top:0;
  right:0;
  padding: 15px;
  font-size: 15.5px;
  background: var(--light-two);
  color: var(--color-one);
  cursor:pointer;
}

main h2 {
  font-size:7vw;
  color: var(--color-four);  
}
main p {
  margin-left:20px;
  font-size:3vw;
  color: var(--light-one);
}
main section {
  min-height:500px;
  padding-top: 50px;
  padding-bottom: 100px;
}
section:nth-child(odd) {
  background-image: linear-gradient(to right, var(--color-one), var(--color-one) 60%, var(--color-two) 61%);
}
section:nth-child(even) {
  background: var(--color-three);
}
main section .container {
  width:80%;
  max-width:1000px;
  margin: auto;  
}

main #avy {
  float:right;
  width:200px;
  height:200px;
}
main #avy div {
  width:150px;
  height:150px;
  margin:20px;
  background: url(https://avatars.githubusercontent.com/u/98571215?v=4) no-repeat 58% 20%;
  border:5px solid var(--color-four);
  border-radius:100px;
  box-shadow: 0 0 20px var(--dark-one);
  transition: .5s;
}
main #avy div:hover {
  width:170px;
  height:170px;
  margin:10px;
  transition: .5s;
}
main .letters {
  position:relative;
  margin-top:0;
  color: var(--light-two);
}

main #card_container {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  gap:40px;
}
main .card {
  opacity:0.1;
  position:relative;
  left:-40px;
  flex-grow:1;
  width:275px;
  height:200px;
  padding:10px;
  text-decoration:none;
  background: var(--light-one);
  border-radius:8px;
  box-shadow: 0 0 20px var(--dark-one);
  transform: scale(0.95);
  transition: transform .2s;
}
main .card.slide_left {
  left:0;
  transition: .2s;
}
main .card:hover {
  box-shadow: 0 0 20px var(--highlight-one);
  transform: scale(1);
}
main .card img {
  width:100%;
  height:160px;
  object-fit: cover;
  object-position: top center;
  transition: transform 1s;
}
main .card_caption {
  display:flex;
  align-items: center;
  padding: 0 5px;
  height:37px;
}
main .card_caption span:first-of-type {
  flex:auto;
}
main .card_caption span:last-of-type {
  flex:1;
  text-align: right;
  white-space: nowrap;
}
main .card_caption span a {
  padding:5px;
  text-decoration:none;
  color:var(--color-one);
  background: var(--color-four);
  border:1px solid var(--color-one);
  border-radius:5px;
}
main .card_caption span a:hover {
  color:var(--color-four);
  background: var(--color-one);
  border-color: var(--color-four);
}
#loading .leftloader {
  position:fixed;
  z-index:7;
  top:0;
  left:-20%;
  width:60%;
  height:100%;
  background: var(--color-four);
  transform: skew(20deg);
}
#loading .middleloader {
  position:fixed;
  z-index:8;
  top:0;
  right:-60%;
  width:40%;
  height:100%;
  background: var(--dark-one);
  transform: skew(20deg);
}
#loading .rightloader {
  position:fixed;
  z-index:7;
  top:0;
  right:-20%;
  width:80%;
  height:100%;
  background: var(--dark-two);
  transform: skew(20deg);
}
main .avy {
  position:fixed;
  z-index:9;
  top:19%;
  right:60%;
  width:150px;
  height:150px;
  background: url(https://avatars.githubusercontent.com/u/98571215?v=4) no-repeat 58% 20%;
  border:5px solid var(--color-four);
  border-radius:100px;
  box-shadow: 0 0 20px var(--dark-one);
}
@media only screen and (min-width:915px) {
  main h2 {
    font-size: 4em;
  }
  main p {
    font-size: 2em;
  }
}
@media only screen and (max-width:915px) {
  header nav .icon {
    display:block;
  }
  header #menu {
    display:none;
    position:absolute;
    width:300px;
    max-width:100%;
    top:48px;
    right:0;
    text-align:left;
    box-shadow: -4px 4px 12px var(--dark-one);
  }
  header #menu span {
    display:block;
    margin:0;
    padding:14px;
    background: var(--light-two);
    border:0;
  }
  header #menu span:hover {
    background: var(--highlight-one);
    color: var(--dark-one);
  }
}
