html, body {
  height: 100%;
}
body {
  overflow-y:scroll;
  display:flex;
  flex-direction: column;
  margin:0;
  font-family: Arial, sans-serif;
}

header {
  width:80%;
  max-width:1000px;
  height: 100px;
  margin: auto;
}
header .container {
  display: flex;
  padding-top:15px;
}
header .container div {
  flex:1;
  margin:auto;
}

main {
  flex:auto;
  box-sizing: border-box;
  width:80%;
  max-width:1000px;
  margin: auto;
  padding:50px;
}

footer {
  width:100%;
  height: 100px;
  margin:auto;
  text-align: center;
  background:#aaa;
}
footer div {
  padding-top: 40px;
}

h1 {
  margin:0;
  color:#000;
}
a {
  color:#000;
}

header h1 {
  font-style: italic;
  font-size: 24px;
}

.topnav .icon {
  display:none;
  position:absolute;
  top:0;
  right:0;
  padding:15px;
  background:#aaa;
  color:#fff;
}
#menu {
  text-align:right;
}
#menu a {
  text-decoration: none;
  border-bottom: 3px solid #000;
  margin:5px;
  padding:10px;
  transition: .25s;
}
#menu a:hover {
  color:#aaa;
  border-color:#aaa;
  transition: .25s;
}
main h3, main h4 {
  margin-left:20px;
}

#avy {
  float:right;
  width:200px;
  height:200px;
}
#avy div {
  width:150px;
  height:150px;
  margin:20px;
  background: url(https://avatars.githubusercontent.com/u/98571215?v=4) no-repeat 58% 20%;
  border:5px solid #ccc;
  border-radius:100px;
  box-shadow: 0 0 20px #000;
  transition: .5s;
}
#avy div:hover {
  width:170px;
  height:170px;
  margin:10px;
  transition: .5s;
}

#card_container {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  gap:20px;
}
.card {
  flex-grow:1;
  width:200px;
  height:200px;
  padding:10px;
  text-decoration:none;
  border-radius:8px;
  box-shadow: 0 0 20px #000;
}
.card:hover {
  box-shadow: 0 0 20px #660;
}
.card img {
  width:100%;
  height:150px;
}
.card_caption {
  padding:10px;
}

@media only screen and (max-width:915px) {
  .topnav .icon {
    display:block;
  }
  #menu {
    display:none;
    position:absolute;
    width:100%;
    top:0;
    left:0;
    padding-top:46px;
    text-align:left;
    background:#aaa;
  }
  #menu a {
    display:block;
    margin:0;
    padding:14px;
    background:#555;
    color:#fff;
    border:0;
  }
  #menu a:hover {
    background:#777;
    color:#000;
  }
}
